- for child in entity
    %li(data={id: child.id})

        - if child.right - child.left > 1 or true
            %a.toggle.closed(href=path('ifgm_stv_category_admin_list', {id : child.id}))
                Ouvrir
        %img.loading{:src => asset('bundles/ifgmfoliage/images/loading.gif'), :alt => 'Loading, please wait' }
        %span
            = child|translate('label')

        .button-group
            %a.button{:href => path('ifgm_stv_category_admin_edit', {id: child.id})}
                = 'Edit'|trans

            %a.button.leave_folder
                Sortir

        %ul.in-folder
            %li.drop-here
                Déposez ici pour insérer dans le contenant "#{child|translate('label')}".
        %ul.tree