%ul
    - for child in children
        %li(data = {id: child.id}){:class => child.right > child.left + 1 ? 'has-dropdown' : ''}
            = child[renderedField]
            - if child.right > child.left + 1
                - include 'IfgmFoliageBundle:Tree:children.html.haml' with {children: child['__children']}